<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.pension_consulting">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Frontpage_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".News_Activity" />
        <activity android:name=".Investment_Guide_Activity" />
        <activity android:name=".Advice_Activity"></activity>
        <activity
            android:name=".Info_Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Settings_Activity" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b6509b211a20c2bf0491f2948dcc803159e7b2a6" />

    </application>

</manifest>